
.hero-sec{
    width: 400px;
    height: 250px;

}
.cotn-img{
    width: 400px;
    height: 300px;

}
.align{
    
    
   margin: auto;
}

.glb{
    margin-top: 100px;
}
.ama{
    width: 150px;
    height: 70px;
}
.ama2{
    width: 150px;
    height: 100px;

}

.box{
    width: 100%;
    height:max-content;
    background-color:#f8ebeb;
}

.hero-btn{
    width: 250px;
}

@media screen and (max-width: 1320px){
   
    .global-img{
        width: 800px;
        height: 400px;
    }
    .hero-btn{
        width: 250px;
    }

}

@media screen and (max-width: 960px){
    .hero-hed{
        font-size: 30px;
        
    }
    .hero-hed2{
        font-size: 15px;
    }

    .ender{
        text-align: center;

    }
   
    .global-img{
        width:600px;
        height: 400px;
    }
    .cotn-img{
        width: 380px;
        height: 280px;
    }
    .hero-btn{
        width: 250px;
    }
    .hero-sec{
        width: 350px;
        height: 250px;

    }

}
@media screen and (max-width:480px){
    .hero-hed{
        font-size:25px;
    }
    .hero-hed2{
        font-size: 15px;
        
    }

    .footer{
        flex-wrap: wrap;
    }
    .global-img{
        width: 350px;
        height: 200px;
    }
    .ama{
        width: 100px;
        height: 40px;
    }
    .ama2{
        width: 100px;
        height: 70px;
    
    }
    .cotn-img{
        width: 380px;
        height: 280px;
    }
    .card-res{
        width: 100px;
        height: 120px;
    }
    .hero-btn{
        width: 250px;
    }

    

}
@media screen and (max-width:380px){
    .hero-hed{
        font-size:18px;
    }
    .hero-hed2{
        font-size: 14px;
    }
    .global-img{
        width: 250px;
        height: 200px;
    }
    .ama{
        width: 100px;
        height: 40px;
    }
    .ama2{
        width: 100px;
        height: 70px;
    
    }
    .cotn-img{
        width: 300px;
        height: 220px;
    }
    .card-res{
        width: 100px;
        height: 120px;
    }
    .hero-btn{
        width: 250px;
       margin-left: 20px;
    }
    .res-hed{
        font-size:20px;

    }
    .res-hed2{
        font-size:14px;

    }
}