









/* 
.nav-bar{
    padding-left: 20%;
} */
/* .btn{
    width: 115px;
} */
/* .name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 200px;

 } */